*{
    adding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.card{
    margin-top: 135px;
}

.otp{
    width: 30px;
    height: 30px;
}
.otp{
margin-top: 15px;
}

.card{
    margin-top: 50px;
}
body{
    background-color: #28314e;
}

.card-body{
    box-shadow: 0px 0px 1px 2px #cccccc;
}
div.card-body{
    background-color: #28314e;
}

.form-control-lg {

    background: transparent;
    font-size: 16px;

}
.card-body input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.card-body input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.card-body input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.btn-block{

    background-color:#416eb6;
    color: white;
}


a{
    color: white;
}
a:hover{
     text-decoration: none;
     color: red;
}

.sign{
    height: 35px;
        margin-bottom: 10px;
}

.btn-block{
    color: #625bf6;
    height: 35px;
    padding: 2px;
}
.eer{
   background-color:  #018983!important;
}
.custom-control-label {
    color: white;
    }

 /************************** ROW AND TEXT CSS ****************/

.mar{
    color: #625bf6
    margin-top: 45px;
    text-white;
    font-size: 8px;
}

.btn-block{
    color: #625bf6;
}
.form-control{
    color: white!important;
    background-color: #29314e;

}
.form-control:focus {
    background-color: #29314e;

}
.input-help{
position: absolute;
font-size: 9px;
}
.image{
    
        width: 23px;
}

.forgot-password{
    margin-left: 245px;
}

.namek {
    color: red;
   
    position: absolute;
    font-size: 10px;
    margin-top: -9px;
}

/*.relative{
    position: relative;
}*/
/***************** TOGGLE ICON CSS*****************/

#togglePassword{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 250px;
    font-size: 18px;
    color: white;
    float: right;
}


.absolute{
    position: absolute;
    font-size: 9px;
}

@media only screen and (max-width: 475px){
    .picsize img{
        width: 100%;
        height: auto;
    }
    .otp{
    width: 32px;
    height: 32px;
}
}

